<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLShortner</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
		<br><br><br><br>
		

		<div class="card" >
        <div class="card-body">

    <!-- Default form subscription -->
    <form action="/" method="post">
      <p class="h4 text-center py-4">URL Shortner</p>
        
      <div class="form-group">
						LongUrl: <input type="text" class="form-control" name="longurl"
							id="longurl" maxlength="" required />
					</div>
	<div class="form-group">
						Days: <input type="number" class="form-control" name="days"
							id="days" maxlength="200"  value="1"  placeholder="No. of Days"   />
					</div>
					
      <br>
      <h5>Link appear here :</h5>
       <p  th:text="${shorturl}" style="color:#444;">ShortURL appear here</p>
		
      <div class="text-center py-4 mt-3">
        <button class="btn btn-outline-purple" type="submit">Get Short URL<i
            class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
    </form>
    <!-- Default form subscription -->

  </div>
  <!-- Card body -->
</div>
</div>    
</body>
</html>